body {
    background-color: rgb(226, 210, 145);
    margin-left: 20px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
img {
    display: block;
    margin: 0 auto;
    width: auto;
    height: auto;
    background-color: rgb(226, 210, 145);
    margin-bottom: 20;
  }
  footer {
    clear: both;
    font-size: 15px;
    text-align: center;
    padding: 15px 0;
    margin-top: -90px;
    border-top: 8px solid #7faf5a;
    background: #ccdecc;
    color: rgb(5, 16, 20);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

}

.button {
  margin: 5px;
}

#btn-backToHomepage {
  position: absolute;
  left: 5px;
  bottom: 10px;
}
.result-modal-content{
  background-color: rgb(226, 210, 145);
  margin: auto;
}
.card{
  background-color: #7faf5a;
}
#search-modal.reveal{
  background-color: #7faf5a;
}
.card-divider{
  background-color: #ccdecc;
}
.recipe-name{
  text-align: center;
}